#zal h1{
  text-align: center;
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: -70px;
}

#zal div.gallery {
  border: 2px solid #717070;
}
  
#zal div.gallery img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
  
#zal div.desc {
  padding: 15px;
  text-align: center;
}
  
#zal * {
  box-sizing: border-box;
  /*margin: 0;*/
  padding: 0;
}
  
#zal .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: "Iwona";
  src: url("./IwonaMedium-Regular.ttf");
}

#zal #menu__toggle {
    display: none;
}

#zal .hamburger-menu {
  height: 0;
}
#zal #menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#zal #menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#zal #menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#zal #menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

#zal .menu__btn {
  position: fixed;
  top: 50px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

#zal .menu__btn > span,
#zal .menu__btn > span::before,
#zal .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition-duration: .25s;
}

#zal .menu__btn > span::before {
  content: '';
  top: -8px;
}

#zal .menu__btn > span::after {
  content: '';
  top: 8px;
}

#zal .menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ded8ce9c;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

#zal .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Iwona', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

#zal .menu__item:hover {
  background-color: #CFD8DC;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Iwona, sans-serif;
}
#zal .cnopka {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 11rem;
}
  
#zal .cnopka a {
  font-size: 2.5rem;
  padding: 1rem 3rem;
  color: #000000;
  text-transform: uppercase;
}
  
#zal .btn {
  text-decoration: none;
  border: 2.5px solid rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
}
  
#zal .btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(248, 224, 146, 0.4);
}
  
#zal .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
    background: linear-gradient(
    120deg,
    transparent,
    rgba(193, 180, 93, 0.4),
    transparent
  );
  transition: all 1150ms;
}
  
#zal .btn:hover:before {
  left: 100%;
}

#zal .footer-col a {
  display: inline-block;
  /*padding: 1em 3.5em;*/
  border-radius: 0.3em;
  color: rgb(38, 37, 37);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}  

#zal .container{
  max-width: 1170px;
  margin:auto;
  padding-left: 15px;
}

#zal ul{
  list-style: none;
}

#zal .footer{
  background-color: #24262b;
  padding: 20px 0;
}

#zal .footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#zal .footer-col{
  width: 25%;
  padding: 0 15px;
}

#zal .footer-col h4{
  font-size: 25px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

#zal .footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

#zal .footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

#zal .footer-col ul li a{
  font-size: 25px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

#zal .footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

#zal .footer-col .social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#zal .footer-col .social-links a{
  display: block;
  background-color: rgba(255,255,255,0.2);
  color: #ffffff;
  transition: all 0.5s ease;
  font-size: 30px;
  width: 57.6px;
  padding: 8px;
  border-radius: 100%;
  text-align: center;
}

#zal .footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

#zal summary::-webkit-details-marker{display:none;}
#zal summary::-moz-list-bullet{list-style-type:none;}
#zal summary::marker{display:none;} 
#zal summary {
  display:inline-block;
  padding: .3em 1.5em .3em .6em;
  font-size:1.4em;
  cursor: pointer;
  position: relative;
}

#zal summary:before {
  right: .3em;
  top: .6em;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform .5s;
}

#zal details[open] > summary:before {
  transform: rotateZ(90deg);
}

#zal summary ~ * {
  padding:0 1em 0 1em;
}

#zal details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
  font-size: 1.5rem;
}

@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

#zal summary:focus {
  outline:0;
  box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}

#zal details{
  display:block;
  margin-bottom: .5rem;
  font-family: Iwona;
}

#zal .gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 100px;
}
  
  /*responsive*/
@media(max-width: 767px){
  #zal .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  #zal .footer-col{
    width: 100%;
  }
} 
  
@media only screen and (max-width: 900px) {
  #zal .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
  
@media only screen and (max-width: 600px) {
  #zal .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}